node_modules
**/node_modules

# Build output
**/dist
**/.expo
**/web-build
**/.turbo
**/.wrangler

# Generated
**/expo-env.d.ts
apps/mobile/.expo/types
apps/mobile/assets

# Lockfiles
pnpm-lock.yaml

# Native
**/ios
**/android
